<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stela.comics_unlimited">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" /> <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" /> <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.vending.BILLING" /> <!-- google pay -->
    <uses-permission
        android:name="android.permission.SET_TIME_ZONE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ActivityTheme"
        tools:replace="android:allowBackup"><!-- //sdk 28 网络安全 -->
        <!-- 这个 Demo 主要展示副单位的用法, 如果只使用副单位 (pt、in、mm) 就可以直接以像素作为单位填写设计图的尺寸, 不需再把像素转化为 dp -->
        <!-- <meta-data -->
        <!-- android:name="design_width_in_dp" -->
        <!-- android:value="360"/> -->
        <!-- <meta-data -->
        <!-- android:name="design_height_in_dp" -->
        <!-- android:value="640"/> -->
        <activity
            android:name=".ui.web.CommonWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.stela.comics_unlimited.ui.welcome.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SplashTheme">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="FCM_OPEN_ORDER_LIST_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="stela.com"
                    android:pathPrefix="/test"
                    android:scheme="stela" />
                <data
                    android:host="stelatest.page.link"
                    android:pathPrefix="/test"
                    android:scheme="https" />
                <data
                    android:host="stela.com"
                    android:scheme="http" />
            </intent-filter>
            <!-- intent-filter配置注意事项 -->
            <!-- 首先说明一点：如果你添加<intent-filter>的Activity不包含android.intent.action.MAIN的<action>标签，就无需配置多个intent-filter。也就是下面注释说明的内容 -->
            <!-- 在有<action android:name="android.intent.action.MAIN" />的<intent-filter>中添加<data>标签配置会无法通过Deeplink正确打开指定的页面。一个Activity是允许有多个<intent-filter>标签，所以另外再创建一个<intent-filter>标签进行配置即可； -->
            <!-- <category android:name="android.intent.category.LAUNCHER" />和<category android:name="android.intent.category.DEFAULT" />两个是相互冲突的，同时添加这两个category在一个intent-filter标签中会导致桌面图标无法显示的问题； -->

        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@style/AppTheme.custom" />
        <activity
            android:name=".ui.chapter.ChapterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.custom" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.series.SeriesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.custom" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.comments.CommentsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.comments.SubmitCommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.person.ChooseAvatarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.person.ChangeNicknameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.person.SelectTitleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.subscribe.MySubscribeInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.custom" />
        <activity
            android:name=".ui.home.activity.HomeInnerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.collection.CollectionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.subscribe.SubscribeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.person.ForgotPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.login.AccountActivationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.person.PersonInfoActivity"
            android:theme="@style/AppTheme.custom"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.person.ResetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.parental_controls.ParentalControlsActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.parental_controls.SetPINActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.parental_controls.EnterPINActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.parental_controls.SendEmailSuccessPINActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.deeplink.DeepLinkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" /> <!-- firebase message  start -->
        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/push_icon" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/stela_blue" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" /> <!-- firebase end -->
        <!-- FaceBook  start -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.CodelessDebugLogEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="true" />
    </application>

</manifest>